@import "tailwindcss";
@plugin "daisyui";

/* Smooth Dark Mode Transition */
html {
	transition: background-color 0.3s, color 0.3s;
  }
  
  .dark {
	background-color: #1a202c; /* Dark Mode Background */
	color: #ffffff;
  }